
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 18px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
a:hover { text-decoration: none }
.section-padding{padding: 140px 0;}
.gray-bg {background: #F1F1F1;}
.section-title h2 {
    color: #000;
    font-size: 30px;
}
.section-title span {
    display: inline-block;
    background: #6AAF08;
    width: 40px;
    height: 5px;
    border-radius: 2px;
}
.section-title span.black-border {
    background: #000;
    width: 30px;
    margin: 0 5px;
}
.section-title {
    margin-bottom: 60px;
}



.single-testimonial-item {
    box-shadow: 0 0 5px #ddd;
    margin: 5px;
    padding: 20px;
    font-style: italic;
    font-size: 16px;
    position: relative;
    padding-left: 80px;
}
.single-testimonial-item:before {
    font-family: fontAwesome;
    content: "\f10e";
    color: #6AAF08;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    line-height: 30px;
    margin-top: -15px;
}
.single-testimonial-item:after {
    position: absolute;
    left: 60px;
    top: 15%;
    width: 1px;
    height: 70%;
    background: #ddd;
    content: "";
}
.single-testimonial-item h2 {
    font-size: 20px;
    font-style: normal;
    margin: 0;
    margin-top: 15px;
}
.single-testimonial-item h2 span {
    display: block;
    font-size: 14px;
    color: #999;
    font-weight: normal;
    margin-top: 5px;
}
.client-testimonial-carousel .owl-dots div {
    background: #6AAF08;
    height: 5px;
    width: 20px;
    display: inline-block;
    transition: all ease .2s;
    margin: 0 5px;
    border-radius: 2px;
}
.client-testimonial-carousel .owl-dots div.active {
    background: #000;
    width: 30px;
}
.client-testimonial-carousel .owl-dots {
    text-align: center;
    margin-top: 30px;
}






