
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 900; 
}
body {

	font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }



body {
  background: #F5F6FA;
  font-size: 16px;
  line-height: 1.7;
}
.promo-box-wrap {
  margin-left: -15px;
  overflow: hidden;
}
.single-promo-box {
  height: 333px;
  width: 50%;
  float: left;
  text-align: center;
  display: table;
  background: #fff;
}
.promo-box-tablecell {
  display: table-cell;
  vertical-align: middle;
  padding-top: 70px;
  transition: .3s;
}
.single-promo-box:nth-child(2) {
  background: #DA879B;
}
.single-promo-box:nth-child(3) {
  background: #7BBACF;
}
.promo-icon i::before {
  font-size: 70px;
  margin-left: 0;
}




.single-promo-box h2 {
  font-size: 25px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.boxed-btn {
  display: inline-block;
  color: #fff;
  background: #7BBACF;
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: .3s;
}
.single-promo-box h2:after {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 40px;
  height: 2px;
  background: #DA879B;
  content: "";
  margin-left: -20px;
}
.single-promo-box .boxed-btn {
  opacity: 0;
  visibility: hidden;
}
.single-promo-box:hover .promo-box-tablecell {
  padding-top: 0;
}
.boxed-btn:hover {
}
.single-promo-box:hover .boxed-btn {
  opacity: 1;
  visibility: visible;
}
.single-promo-box:nth-child(2),.single-promo-box:nth-child(3) {
  color: #fff;
}
.single-promo-box:nth-child(2) h2:after, .single-promo-box:nth-child(3) h2:after {
  background: #fff;
}
.single-promo-box:nth-child(1) .promo-icon i {
  color: #DA879B;
}
.single-promo-box:nth-child(4) .promo-icon i {
  color: #7BBACF;
}
.single-promo-box:nth-child(4) h2:after {
  background: #7BBACF;
}
.single-promo-box:nth-child(1) .boxed-btn {
  color: #fff;
  background: #DA879B;
}
.single-promo-box:nth-child(2) .boxed-btn, .single-promo-box:nth-child(3) .boxed-btn {
  color: #fff;
  background: #000;
}




.right-side-content {
  padding: 120px 50px;
}
.section-title h3 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  color: #7BBACF;
  margin: 0;
}
.section-title h2 {
  font-size: 32px;
  color: #45484D;
  margin-top: 20px;
  margin-bottom: 40px;
}
.right-side-content h4 {
  color: #2F3338;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 25px;
}
.right-side-content {
  color: #747779;
  font-size: 16px;
}
.section-btns .bordered-btn {
  display: inline-block;
  color: #7BBACF;
  text-transform: uppercase;
  border: 2px solid;
  padding: 10px 38px;
  border-radius: 50px;
  margin-left: 20px;
}
.section-btns {
  margin-top: 60px;
}


