@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

	font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }








body {
  background: #EBEAF0;
  color: #F1FDFE;
  line-height: 1.7;
  font-size: 16px;
}
.colored-bg {
  background: #73DAE1;
  position: relative;
    margin: 50px 0;
}
.left-content {
  padding-left: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 480px;
    min-height: 580px;
}
.right-img {
  position: absolute;
  right: -25px;
  bottom: 0;
    max-height: 580px;
}
.top-tagline {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  position: relative;
    padding-bottom: 10px;
}
.top-tagline:after {
  position: absolute;
  left: 2px;
  bottom: 0;
  width: 25px;
  height: 2px;
  background: #fff;
  content: "";
}
.left-content h1 {
  font-weight: 300;
  font-size: 41px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.bordered-btn {
  background: #F3F450;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 50px;
  box-shadow: 0 10px 60px #99DCAF;
  margin-top: 35px;
  display: inline-block;
}











