
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
	font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }

.team-bg {background-image: url(../img/member-3.jpg);}
.team-bg-2 {background-image: url(../img/member-4.jpg);}
.team-bg-3 {background-image: url(../img/member-5.jpg);}




body {
  font-size: 15px;
  line-height: 1;
}
.section-title {
	font-size: 30px;
	color: #020202;
	text-transform: uppercase;
	position: relative;
	transform: rotate(-90deg);
	margin-top: 74px;
	text-align: right;
	letter-spacing: 2px;
}
.section-title::before {
	position: absolute;
	width: 82px;
	height: 2px;
	background: #ADADAD;
	content: "";
	right: 2px;
	top: -30px;
}


.team-bg {
  height: 250px;
  background-size: cover;
  background-position: center top;
  background-color: #ddd;
  margin-bottom: 30px;
}
.single-team-member {
  text-align: center;
}
.bordered-content {
  color: #797979;
  border: 1px solid;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.team-title h2 {
  color: #000;
  font-size: 22px;
  letter-spacing: 2px;
  background: #fff;
  display: inline-block;
  padding: 0 10px;
}
.team-title {
  margin-top: -12px;
}
.col-md-4:nth-child(2) .single-team-member {
  margin-top: 100px;
}
.section-padding {
  padding: 80px 0;
}